# Coroutines

In [ ]:
class Api:
    def do_this_first(self):
        return 'Jeg er den første'
    def do_this_second(self):
        return 'Jeg er den anden'
    def do_this_third(self):
        return 'Jeg er den tredje'
    
    def __iter__(self):
        pass

    def __next__(self):
        pass
    
    

api = Api()

api.do_this_second()
api.do_this_first()

api.__iter__()

iter(api)
next(api)

'Jeg er den første'

In [7]:
def api():
    yield 'do_this_first'
    yield 'do_this_second'
    yield 'do_this_third'


# __iter__
# __next__

for i in api():
    print(i)

do_this_first
do_this_second
do_this_third

### .send() and .close()

In [9]:
def simple_coroutine():
    print('-> coroutine started')
    x = yield 'do this first and wait for input'
    while x:
        x = yield f'this is yeilded : {x}'

In [10]:
g = simple_coroutine()
next(g)

-> coroutine started

'do this first and wait for input'

In [11]:
g.send('Hello')

'this is yeilded : Hello'

In [12]:
g.send('slfhslkdjhfskjhfsdkjhdkfs')

'this is yeilded : slfhslkdjhfskjhfsdkjhdkfs'

In [15]:
def averager(*args):
    sum = 0
    for i in args:
        sum += i
    return sum / len(args)


averager(1, 2, 3, 4, 5, 6, 7, 8)

4.5

# Context Manager

In [1]:
"""
f = open('testfiles/bohr.txt', 'r')
print(f.readline())
f.close()



with open('testfiles/bohr.txt', 'r') as f:
    print(f.readline())

"""

class Open:

    def __init__(self, filename, mode):
        self.filename = filename
        self.mode = mode

    def __enter__(self):
        self.f = open(self.filename, self.mode)
        return self.f

    def __exit__(self, *args):
        self.f.close()

    def readline(self):
        pass

## contextlib

In [ ]:
from contextlib import contextmanager

@contextmanager
def open_file(filename, mode):
    
    f = open(filename, mode)
    try:
        yield f
    finally:
        f.close()

## Sqlite

In [11]:
from sqlite3 import connect

with connect('testfiles/school.db') as conn:
     cur = conn.cursor()
     cur.execute('CREATE TABLE students(id int PRIMARY KEY, name text, cpr text)')
     cur.execute('INSERT INTO students(id, name, cpr) VALUES (1, "Claus", "223344-5566")')
     cur.execute('INSERT INTO students(id, name, cpr) VALUES (2, "Julie", "111111-1111")')
     cur.execute('INSERT INTO students(id, name, cpr) VALUES (3, "Hannah", "222222-2222")')

     for i in cur.execute('SELECT * FROM students'):
        print(i)

     cur.execute('DROP TABLE students')

(1, 'Claus', '223344-5566')
(2, 'Julie', '111111-1111')
(3, 'Hannah', '222222-2222')